.weiss-color {
	background-color: #FF6C2C
}

.cta-btn-right {
	list-style-type: none;
}

body {
	padding-top: 80px;
}

.hero { 
  background: url(pics/hero-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
}

.flex-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    height: 90vh;
    
}

.form {
	display: flex;
	flex-direction: column;
}

.btn-primary {
	margin: 20px;

}

.sayHello {
	height: 100vh;
	background-color: rgba(149, 148, 153, .6);
	color: white;
}

.inner-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(255,255,255, 0.6);
	border-radius: 75px;
}

.test {
  font-size: 1.5rem;
}